<table class="table-striped" width="100%" cellpadding="10">
  <tr>
    <td><b>User</b></td>
    <td><b>Submissions</b></td>
  
<% @users.each do |user| %>
<tr>
  <td><%= link_to user.email, "/users/#{user.email}" %></td>
  <td><%= Submission.where(:user_id => user.id).all.length %></td>
</tr>
<% end %>
</table>
