<h2>WVU Open Source Scholarship Portal</h2>

<h3>Registration</h3>
<p>
  In order to <%= link_to 'register', '/users/sign_up' %>, you must have a valid wvu email address. For more information about the scholarship, visit <%= link_to 'opensourcescholars.org', 'http://opensourcescholars.org' %>.
</p>

<h3>Tell us about your contributions!</h3>

<p>
  Making a submission is easy. Just tell us a few things about what
  you did and where we can find your open source contribution on the
  internet.
</p>
